<footer class="footer">
	<nav class="social">
        <ul>
			<li><a href="https://instagram.com/cornsupply/">instagram</a></li>
            <li><a href="https://ello.co/alekseytarasov">ello</a></li>
			<li><a href="https://t.me/">t.me</a></li>
		</ul>
	</nav>
    <nav class="translation">
        <ul>
            <li><a href="/">EN</a></li>
            <li><a href="/ua">UA</a></li>
        </ul>
    </nav>
	<div class="nanobar"></div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/mousewheel.min.js"></script>
<script src="/assets/js/featherlight.min.js"></script>

<!-- go up -->

<script>
$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.up').fadeIn();
        } else {
            $('.up').fadeOut();
        }
    });

    $('.up').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });

});
</script>

<!-- gallery -->

<script>
	$("#scrolling-gallery").mousewheel(function(event, delta) {

      this.scrollLeft -= (delta * 10);

      event.preventDefault();

   });
</script>


<!-- gallery buttons-->

<script>
    $('.arrow-right').click(function() {
      event.preventDefault();
      $('#scrolling-gallery').animate({
        scrollLeft: "+=460px"
      }, "slow");
    });

     $('.arrow-left').click(function() {
      event.preventDefault();
      $('#scrolling-gallery').animate({
        scrollLeft: "-=460px"
      }, "slow");
    });
</script>

<!-- lightbox -->

<script>
    $('#scrolling-gallery img').featherlight({
        targetAttr: 'src',
        openSpeed: 500,
        closeIcon: '',
        loading: '<span class="loading star"></span>',  
    });
</script>

<!-- share popup -->

<script>
    function sharePopup(e) {
      var h = 400,
          w = 600;
      window.open(e, '', 'scrollbars=1,height='+Math.min(h, screen.availHeight)+',width='+Math.min(w, screen.availWidth)+',left='+Math.max(0, (screen.availWidth - w)/2)+',top='+Math.max(0, (screen.availHeight - h)/2));
    }
</script>

<!-- popup menu -->
<script>
jQuery(document).ready(function($){
    //open popup

    $('.stickyanchor').on('click', function(event){
        event.preventDefault();
        $('.menu').addClass('is-visible');
        $('.stickyanchor').addClass('is-hide');
        $('body').addClass('overflow-hidden');
    });
    
    //close popup
    $('.menu').on('click', function(event){
        if( $(event.target).is('.close') || $(event.target).is('.menu') ) {
            event.preventDefault();
        $(this).removeClass('is-visible');
        $('.stickyanchor').removeClass('is-hide');
        $('body').removeClass('overflow-hidden');
        }
        });
        //close popup when clicking the esc keyboard button
        $(document).keyup(function(event) {
        if (event.which == '27') {
          $('.menu').removeClass('is-visible');
          $('.stickyanchor').removeClass('is-hide');
          $('body').removeClass('overflow-hidden');
        }
        });
        });
</script>

<script>
var createEyes = function (quantity) {
    var eyes = [];
    var eye;
    var lens;
    var i;
    quantity = (quantity | 0) || 2;
    for (i = 0; i < quantity; i++) {
        eye = document.getElementById("eyes");
        lens = document.getElementById("pupil");
        eye.appendChild(lens);
        document.getElementById("face").appendChild(eye);
        eyes.push({
            iris: eye,
            lens: lens
        });
    }
    return eyes;
}
var eyes = createEyes(2);
document.addEventListener("mousemove", function (event) {
    var x = event.pageX;
    var y = event.pageY;
    eyes.forEach(function (eye) {
        var offsets = eye.lens.getBoundingClientRect();
        var left = (offsets.left - x)
        var top = (offsets.top - y)
        var rad = Math.atan2(top, left);
        eye.iris.style.webkitTransform = "rotate(" + rad + "rad)";
    });
});
</script>

<!-- theme swither -->

<script>
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;

    // Проверяем, есть ли сохранённая тема в localStorage
    if (localStorage.getItem("theme") === "dark") {
      body.classList.add("dark-theme");
    }

    // Обработчик клика по кнопке
    themeToggle.addEventListener("click", () => {
      body.classList.toggle("dark-theme");

      // Сохраняем текущую тему в localStorage
      if (body.classList.contains("dark-theme")) {
        localStorage.setItem("theme", "dark");
      } else {
        localStorage.setItem("theme", "light");
      }
    });
</script>


<script>
document.addEventListener("DOMContentLoaded", function () {
  const links = document.querySelectorAll(".translation a");

  // Получаем текущий путь
  const currentPath = window.location.pathname;

  links.forEach((link) => {
    const linkPath = link.getAttribute("href");

    // Проверяем, начинается ли текущий путь с linkPath
    if (currentPath.startsWith(linkPath)) {
      link.classList.add("active");
    } else {
      link.classList.remove("active");
    }
  });
});
</script>