<footer class="footer">
	<nav class="social">
        <ul>
			<li><a href="http://instagram.com/shhbbv">instagram</a></li>
			<li><a href="https://t.me/travel_camp">t.me</a></li>
		</ul>
	</nav>
	<div class="nanobar"></div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
	$(".article-gallery").mousewheel(function(event, delta) {

      this.scrollLeft -= (delta * 30);
    
      event.preventDefault();

   });
</script>

<!-- go up -->

<script>
$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.up').fadeIn();
        } else {
            $('.up').fadeOut();
        }
    });

    $('.up').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });

});
</script>