<header class="header">
    <a class="logo-circle" href="/"><img src="https://cornsupply.cc/assets/images/elipse.gif"><sup class="color-1">2.0</sup></a>
    <nav class="navigation">
        <ul>
            <li><a href="{{ links.menu_link_index[page.language] }}" class="active"><span>{{ translations.menu_index[page.language] }}</span></a></li>
            <li><a href="https://shop.cornsupply.cc"><span>{{ translations.menu_shop[page.language] }}</span></a></li>
            <li><a href="/"><span>{{ translations.menu_about[page.language] }}</span></a></li>
            <li><a href="https://portfolio.cornsupply.cc"><span>{{ translations.menu_portfolio[page.language] }}</span></a></li>
        </ul>
        <hr>
    </nav>
</header>

<section class="smart-menu">
    <div class="stickyanchor">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>

    <div class="menu">
        <div class="i-text">
            <a href="#" class="close">{{ translations.menu_close[page.language] }}</a>
            <ul>
                <li><a href="{{ links.menu_link_index[page.language] }}" class="active"><span>{{ translations.menu_index[page.language] }}</span></a></li>
                <li><a href="https://shop.cornishmouth.cc"><span>{{ translations.menu_shop[page.language] }}</span></a></li>
                <li><a href="/"><span>{{ translations.menu_about[page.language] }}</span></a></li>
                <li><a href="https://portfolio.cornishmouth.cc"><span>{{ translations.menu_portfolio[page.language] }}</span></a></li>
            </ul>
        </div>
    </div>
</section>
