<header class="header">
    <a class="logo-circle" href="{{ links.menu_link_index[page.language] }}">
        <!-- <img src="https://cornsupply.cc/assets/images/elipse.gif"><sup class="color-1">0.75</sup> -->
        <svg id="organic-blob" width="120" height="120" xmlns="http://www.w3.org/2000/svg" filter="url(#goo)" fill="black">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
              <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
            </filter>
          </defs>
          <g>
            <circle class="blob" r="40" cy="58" cx="60">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 58 60" to="360 58 60" dur="1s" repeatCount="indefinite"/>
            </circle>
            <circle class="blob" r="40" cy="62" cx="60">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 62 60" to="0 62 60" dur="2s" repeatCount="indefinite"/>
            </circle>
            <circle class="blob" r="40" cy="60" cx="58">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 60 58" to="360 60 58" dur="3s" repeatCount="indefinite"/>
            </circle>
            <circle class="blob" r="40" cy="60" cx="62">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 60 62" to="0 60 62" dur="2.5s" repeatCount="indefinite"/>
            </circle>
          </g>
        </svg>

<svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
      <feColorMatrix in="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" />
    </filter>
  </defs>

  <g filter="url(#goo)" fill="currentColor">
    <!-- Центральный круг -->
    <circle class="blob" cx="100" cy="100" r="50" />

    <!-- Маленькие волны слева -->
    <circle class="blob" cx="80" cy="100" r="10">
      <animateTransform attributeName="transform" type="translate"
        values="0 0; -4 -2; 0 0" dur="1.2s" repeatCount="indefinite"/>
    </circle>
    <circle class="blob" cx="85" cy="100" r="8">
      <animateTransform attributeName="transform" type="translate"
        values="0 0; -3 2; 0 0" dur="1.4s" repeatCount="indefinite"/>
    </circle>

    <!-- Маленькие волны справа -->
    <circle class="blob" cx="120" cy="100" r="10">
      <animateTransform attributeName="transform" type="translate"
        values="0 0; 4 2; 0 0" dur="1.2s" repeatCount="indefinite"/>
    </circle>
    <circle class="blob" cx="115" cy="100" r="8">
      <animateTransform attributeName="transform" type="translate"
        values="0 0; 3 -2; 0 0" dur="1.4s" repeatCount="indefinite"/>
    </circle>
  </g>
</svg>




    </a>

    <nav class="navigation">
        <ul>
            <li><a href="{{ links.menu_link_index[page.language] }}" class="active"><span>{{ translations.menu_index[page.language] }}</span></a></li>
            <li><a href="https://shop.cornsupply.cc"><span>{{ translations.menu_shop[page.language] }}</span></a></li>
            <li><a href="/"><span>{{ translations.menu_about[page.language] }}</span></a></li>
            <li><a href="https://portfolio.cornsupply.cc"><span>{{ translations.menu_portfolio[page.language] }}</span></a></li>
        </ul>
        <hr>
    </nav>

    <div class="toggle">
        <input type="checkbox" class="toggle-button">
    </div>
</header>

<section class="smart-menu">
    <div class="stickyanchor">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>

    <div class="menu">
        <div class="i-text">
            <a href="#" class="close">{{ translations.menu_close[page.language] }}</a>
            <ul>
                <li><a href="{{ links.menu_link_index[page.language] }}" class="active"><span>{{ translations.menu_index[page.language] }}</span></a></li>
                <li><a href="https://shop.cornishmouth.cc"><span>{{ translations.menu_shop[page.language] }}</span></a></li>
                <li><a href="/"><span>{{ translations.menu_about[page.language] }}</span></a></li>
                <li><a href="https://portfolio.cornishmouth.cc"><span>{{ translations.menu_portfolio[page.language] }}</span></a></li>
            </ul>
        </div>
        <div class="toggle-mobile">
            
        </div>
    </div>
</section>
