<section class="contact-form">
    <header class="form-header">
        <h2>{{ translations.form_h2[page.language] }}</h2>
    </header>

    <form method="POST" action="https://api.staticman.net/v2/entry/AlekseyTarasov/cornsupply.github.io/master/comments">

      <input name="options[redirect]" type="hidden" value="https://cornsupply.cc">
      <!-- e.g. "2016-01-02-this-is-a-post" -->
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">

      <label class="form-name">Name</label>
      <input name="fields[name]" type="text">

      <label class="form-email">E-mail</label>
      <input name="fields[email]" type="email">

      <label class="form-message">Message</label>
      <textarea name="fields[message]"></textarea>
      
      <button class="form-submit" type="submit">Send form</button>

    </form>
</section>