<section class="comments">
</section>

<section class="contact-form">
    <header class="form-header">
        <h2>#Contact form</h2>
        <p>Fill free to use this form.</p>
    </header>

    <form method="POST" action="https://api.staticman.net/v2/entry/AlekseyTarasov/cornishmouth.github.io/master/comments">

      <input name="options[redirect]" type="hidden" value="http://cornishmouth.cc">
      <!-- e.g. "2016-01-02-this-is-a-post" -->
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">

      <label class="form-name">Name<input name="fields[name]" type="text"></label>

      <label class="form-email">E-mail<input name="fields[email]" type="email"></label>

      <label class="form-message">Message<textarea name="fields[message]"></textarea></label>
      
      <button class="form-submit" type="submit">Go!</button>

    </form>
</section>