@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.eot');
    src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue.woff2') format('woff2'),
         url('../fonts/BebasNeue.woff') format('woff'),
         url('../fonts/BebasNeue.ttf') format('truetype'),
         url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Layout */

html{
  font-size: 0.938em;
}

body {
	font-family: 'Inter UI', sans-serif;
  background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll/ thanks to codyhouse.co */
  overflow: hidden;
}


.wrapper {
	min-height: 100%;
  width: 100%;
    -moz-hyphens: auto;
    word-wrap: break-word;
}



/* Bar  */

.nanobar {
  height: 2px;
}

/* Toggle  */

.smart-menu{
  display: none;
}

@media only screen and (max-width: 600px) {
  .smart-menu{
    display: block;
  } 
}

.stickyanchor{
  /* position: fixed !important; */
  position: absolute !important;
  top: 6%;
  left: 2em;
  width: 20px;
  cursor: pointer;
  z-index: 99999;
}

.stickyanchor div {
  height: 2px;
  background: #000;
  margin: 4px auto;
  transition: all 0.3s;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index: 99999;
  transition: all 0.3s;
}

.menu.is-visible {
  display: block;
}

.i-text{
  width: 20em;
  margin: 4em 0px 0px 2em;
  text-align: left;
}

.i-text ul {
  list-style-type: none;
  letter-spacing: 0.2em;
  font-size: 24px;
  padding: 0;
  margin: 0 auto;
  line-height: 24px;
}

.i-text a {
  text-decoration: none;
  color: #fff;
}

.i-text a:hover {
  text-decoration: line-through;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    -ms-transition: all .15s linear;
    transition: all .15s linear;
}

.close {
  position: absolute;
  text-indent: -9999px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #fff;
}

.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .menu {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.is-hide{
  display: none;
}


/* Header */

.header{
  float: left;
  width: 20%;
  min-width: 125px;
  height: 100%;
  position: fixed;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .header{
    float: none;
    width: 100%;
    min-width: none;
    height: auto;
    position: relative;
    z-index: 5;
  }
}

/* Logo circle*/

.logo-circle {
  margin: 0 30%;
}

.logo-circle img{
  width: 100%;
  max-width: 150px;
}



/* Navigation */

.navigation{
  font-size: 11px;
  position: absolute;
  top: 30%;
  left: 46%;
  line-height: 30px;
  letter-spacing: .04em;
}

@media only screen and (max-width: 600px) {
  .navigation{
    display: none;
  }
}

.navigation, .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul span {
  /* navigation item labels */
  display: block;
  opacity: 0;
}

.navigation .active{
  font-weight: 700;
}

.navigation ul span {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: slideIn 0.15s backwards;
  -moz-animation: slideIn 0.15s backwards;
  animation: slideIn 0.15s backwards;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.navigation ul a:hover {
  font-weight: 700;
  text-decoration: none;
}

.navigation ul a:hover::after {
  opacity: 1;
}
.navigation ul a:hover span {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
.navigation ul li:first-of-type a::after,
.navigation ul li:first-of-type span {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.navigation ul li:nth-of-type(2) a::after,
.navigation ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.navigation ul li:nth-of-type(3) a::after,
.navigation ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.navigation ul li:nth-of-type(4) a::after,
.navigation ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}



/* Content */

.content {
  padding: 10% 0 0 20%;
}

@media only screen and (max-width: 600px) {
  .content{
    padding: 1em 0 0 2em;
  }
}

.post {
  position: relative;
  background-color: #2B2B2B;
  width: 400px;
  height: 100%;
  margin-bottom: 2rem;
}

.post img{ 
  max-width: 100%;
  height: auto;
  mix-blend-mode: overlay;
}

.post-header{
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  z-index: 9999;
}

.post-date{
  color: #FDFDFC;
  font-size: 8px;
  letter-spacing: 2px;
}

.post-tittle{
  font: 28px 'BebasNeue';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility
}

.post-tittle a{
    color: #FDFDFC;
}

.noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  z-index: 10;
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: transparent url(../images/noise.png) 0 0;
  background-size: 512px 512px;
  animation: noise 1s steps(8,end) infinite both;
}

@keyframes noise {
  0% {
    transform: translateX(0px,0px); }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}


/* Article */

.article-page{
  margin-bottom: 8em;
  max-width: 44%;
  font-size: 12px;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  .article-page{
    max-width: none;
    width: 100%;
    padding: 1em;  
  }
}

.article-header{
  margin-bottom: 2em;
}

/* Typography post */

.article-title{
  font: 36px 'BebasNeue';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.article-date{
  color: #333;
  font-size: 11px;
  letter-spacing: 1px;
}

.article-content p{
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.8px;
  margin: 1em 0;
}

.article-content h2{
  margin: 2em 0 1em 0; 
}

.article-content  hr {
  box-sizing:content-box;
  overflow:visible;
  width: 100%;
  height:1rem;
  border:0;
  margin:1.75rem 0;
    -webkit-box-sizing:content-box;
}

.article-content hr:after {
  display:block;
  height:1rem;
  content:"＊ ＊ ＊";
  text-align:center;
  overflow:hidden;
  color:#3f474c;
  font-size:.75rem;
}

.article-content a {
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}

.article-content a:hover{
  text-decoration: none;
}

.article-gallery{
  top: 0;
  right: 0;
  position: fixed;
  width: 40%;
  min-width: 125px;
  height: 100%;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .article-gallery{
    display: none;
  }
}

.article-gallery-m {
  display: none;
}

@media only screen and (max-width: 600px) {
  .article-gallery-m {
    display: block;
  }
}

.gallery-scroll-icon{
  color: #333;
  font-size: 11px;
  letter-spacing: 1px;
}

#scrolling-gallery {
  cursor: ew-resize;
  margin: 25% 0 auto;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 600px) {
  .scrolling-gallery{
    display: none;
  }
}

#scrolling-gallery-m {
  cursor: ew-resize;
  margin: 10% auto;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

#scrolling-gallery::-webkit-scrollbar {
  display: none;
}

#scrolling-gallery .page-thumb {
    display: inline-block;
}

.page-thumb img{
  height: 300px;
  margin-left: .5em; 
}

@media only screen and (max-width: 1000px) {
  .page-thumb{
    margin-left: .5em; 
  }
}

.page-thumb-m img{
  height: auto;
  margin-left: .5em; 
}

.article-copyright{
  height: 10px;
  text-align: center;
  margin: 2em 0;
}

.post-words {
    float: left;
}

.post-photo {
    float: right;
}

.article-share{
  float: left;
}

.first{
  background: #000;
  display: inline-block;
  line-height: 1.4;
  padding: 0 0.4em;
  color: #fff;
}

.article-footer{
  margin: 5em 0; 
}


/* Form */

.contact-form{
  width: 80%;
  margin: 1em 0 2em 0;
}

.form-header{
  margin: 2em 0;
}

.form-name, .form-email {
  font-size: 12px;
  margin-top: 1em;
  display: block;
}

input[type=text],
input[type=email]{
  width: 60%;
  padding: 0 0.6em;
  text-align: center;
  border-color: #3f474c;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
}

.form-message {
  font-size: 12px;
  margin: 2em 0 1em 0;
  display: block;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.6em;
  margin-bottom: 1em;
  border-top: 1px solid #3f474c;
  border-left: 1px solid #3f474c;
  border-right: 1px solid #3f474c;
  border-bottom: 1px solid #3f474c;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: 0;
  border-color: #3f474c;
}

.form-submit {
  display: block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #3f474c;
  cursor: pointer;
  box-sizing: border-box; }
.form-submit:hover,
.form-submit:focus {
  background-color: #000; 
  color: #fff;
  border-color: #000;
  outline: 0; }

.comments-counter{
  font-size: 12px;
  margin-bottom: 1.5em;
}

.comment-page{
  max-width: 44%;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 2em;
}

.comment-avatar {
  content: "";
  width: 48px;
  height: 48px;
  background-color: #000;
}

.comment-name {
  vertical-align: middle !important;
  font-weight: 600;
}

.comment-message{
  margin-left: 0.3em; 
  line-height: 2;
  letter-spacing: 0.8px
}

.comment-date{
  margin-top: 0.8em;
  color: #333;
}


/* About */

.about-content{
  padding: 15% 0 0 20%;
}

#avatar {
    /* EB3734 */
    background-image: url('http://cornishmouth.cc/assets/images/ello-large.png');
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.article-photo{
  top: 38%;
  right: 10%;
  position: fixed;
  width: 40%;
  min-width: 125px;
  z-index: 0;
}

.nickname {
  padding: 10px 0;
}

.nickname svg{
  font: 50px 'Inter UI';
  text-transform: uppercase;
  letter-spacing: 1rem;
  height: 50px;
  font-weight: 800;
line-height: 1.2;
}

.nickname text{
  fill: none;
  stroke: #F7F6F4;
  stroke-width:2px;
  // stroke-dasharray: 2,2;
  stroke-linejoin: round;
}


/* Smile */

#face{
  position: absolute;
  left: 20%;
  top: 18%;
}

.eye {
    display: inline-block;
    border: 0px solid #555;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50px;
    margin-left: 40px;
    margin-top: 40px;
    background: #edeade;
}
.eye:first-child {
    margin-left: 56px;
}
.eye span {
    background-color: #31302a;
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 0%;
    border-radius: 50%;
    margin: 5px;
}


/* Typography all site */

h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 1.2;
}

time{
  font-weight: 300;
  font-size: .7em;
  line-height: 20px;
  color: #adadad
}

.post-header{
  margin-bottom: 0.83em
}

p {
  line-height: 1.45;
  font-size: 0.938em;
}

.post-excerpt{
  margin-bottom: 1em;
  max-width: 45%;
}

.post-footer{
  font-weight: 600;
  display: block;
  color: #8e8e93;
  font-size: 13px;
}


/* Basic Styles */

a {
  color: #333;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

::selection {
background: #ffe894; /* Safari */
}
::-moz-selection {
background: #ffe894; /* Firefox */
}

hr{
  border: 0;
  box-sizing: content-box;
  width: 6px;
  border-top: 1px solid #3f474c;
  margin-top: 26px;
}


/* Scrollbar */

body::-webkit-scrollbar {
  background-color: #ffffff;
  width: 2px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 #3f474c;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #000;
}


/* Animation */

.arrow-left{
  cursor: pointer;
  display: inline-block; 
  transition: ease 5s;
  -webkit-animation: bouncey 1.6s linear forwards;
          animation: bouncey 1.6s linear forwards;
}

.arrow-right{
  cursor: pointer;
  display: inline-block; 
  transition: ease 5s;
  -webkit-animation: bounceyright 1.6s linear forwards;
          animation: bounceyright 1.6s linear forwards;
}

@-webkit-keyframes bouncey {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes bouncey {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes bounceyright {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounceyright {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

{"ease":".25,.1,.25,1","linear":"0,0,1,1","ease-in":".42,0,1,1","ease-out":"0,0,.58,1","ease-in-out":".42,0,.58,1"}

/* Footer */

.footer{
  top: 5%;
  right: 0;
  position: fixed;
  width: 55%;
  min-width: 125px;
  height: 35px;
  z-index: 5;

  background: #ffffff;
  border-bottom: 1px solid #3f474c;
}

.social{
  font-size: 11px;
  line-height: 30px;
  letter-spacing: .04em;
}

.social li{
  float: left;
  position: relative;
}

.social a{
  display: block;
  box-sizing: border-box;
  padding: 0 0.8em 0 0;
}

.up {
  width: 16px;
  height: 16px;
  position: fixed;
  bottom: 10%;
  right: 5%;
  display: none;
  text-indent: -9999px;
  border: 1px solid #3f474c;
  z-index: 9999;
}



/* Utilities */

.mini-slider {
  cursor: ew-resize;
  width: 400px;
  height: 100%;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  -webkit-scroll-snap-points-x: repeat(400px);
      -ms-scroll-snap-points-x: repeat(400px);
          scroll-snap-points-x: repeat(400px);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
}
.slide {
  width: 400px;
  flex-shrink: 0;
  height: 100%;
}
