<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <section class="wrapper">
	    {%- include header.html -%}
	    <main class="content">

	    	<article class="article-page">
		      <section class="article-content">
		          {{ content }}
		      </section>
	  		</article>

			<section class="article-avtar">
		  		<span class="nickname">
				    <svg viewBox="0 0 350 50">
			  			<text y="40">shhbbv</text>
					</svg>
				</span>

		    	<img class="avatar" src="{{ site.baseurl }}/{{ page.img }}">
	    	</section>
		</main>
	    {%- include footer.html -%}
    </section>
  </body>
</html>