<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <section class="wrapper">
	    {%- include header.html -%}
	    <main class="about-content">

	    	<article class="article-page">
	    		<header class="about-header">
	    			<p class="">{{ page.description }}</p>
	    			<p class="nickname">
					    <svg viewBox="0 0 350 50">
				  			<text y="40">{{ page.insta }}</text>
						</svg>
					</p>
	    		</header>
		      	<section class="article-content">
		        	{{ content }}
		    	</section>
	  		</article>

			<section class="article-photo">
				<div id="face">
					<div id="eyes" class="eye">
						<span id="pupil"></span>
					</div>

					<div id="eyes" class="eye">
						<span id="pupil"></span>
					  </div> 
				</div>
				<img class="avatar" src="{{ site.baseurl }}/{{ page.img }}">
	    	</section>
		</main>
	    {%- include footer.html -%}
    </section>
  </body>
</html>