---
layout: default
---

  {{ content }}

    {% raw %}{% assign siteposts = site.posts | where: 'language',page.language %}
{% for item in siteposts %}

  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      <article class="post">

        <header class="post-header">
          <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
          <p class="post-tittle"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>
        </header>
                        
        <div class="noise-wrapper">
          <div class="noise"></div>
        </div>

        <img src="{{ site.baseurl }}/{{ post.img }}">

      </article>
    {%- endfor -%}
  {%- endif -%}


{% endfor %}{% endraw %}