---
layout: default
comments: true
---


<article class="article-page">

	<header class="article-header">
		<p class="article-title">{{ page.title }}</p>                
		<p class="article-date">{{ page.date | date: "%B %-d, %Y" }}</p>
	</header>

	<section class="article-content">
		{{ content }}
	</section>

	<section class="article-gallery">



	<div class="article-table">
		<table>
        	<tbody>
          		<tr>
          			<td>
          				<section class="page-thumb">
                    		<img src="{{ site.baseurl }}/{{ page.img }}">
                		</section>
          			</td>
          			<td>
          				<section class="page-thumb">
                    		<img src="{{ site.baseurl }}/{{ page.img }}">
                		</section>
          			</td>
          		</tr>
          	</tbody>
        </table>
        </div>



	</section>

</article>

