---
layout: default
comments: true
---


<article class="article-page">

	<header class="article-header">
		<p class="article-title">{{ page.title }}</p>                
		<p class="article-date">{{ page.date | date: "%B %-d, %Y" }}</p>
	</header>

	<section class="article-content">
		{{ content }}
	</section>

	<section class="article-gallery">
		<div id="scrolling-gallery">
		    <div class="page-thumb">
		        {% for item in page.photos %}
		  			<img src="{{ item }}">
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="f-1">
		{% if page.author %}
			<span class="post-words">Words by <a href="{{ page.author_url }}">{{ page.author }}</a></span>
		{% endif %}

		{% if page.photo %}
       		<span class="post-photo">Photo by <a href="{{ photo.web }}">{{ photo.name }}</a></span>
       	{% endif %}
	</section>

	<section class="article-footer">
		{% include staticman.html %}
	</section>

</article>

