---
layout: default
---

<div class="js-gallery c-gallery o-f" data-track-view="GalleryBlock">

  <div class="c-gallery__main-pic" itemscope itemtype="https://schema.org/ImageObject">
    <a href="https://a.d-cd.net/RnYNn2JFgRjUW5D7IAZEiwb0Th0-1920.jpg"
       class="c-lightbox-anchor"
       data-action="lightbox.zoom"
       data-size="1920,1080"
       style="--ar:960/540; --height:540px;"
       rel="noopener"
       target="_blank">
      <x-img class="is-rounded"
             style="--ar: 960/540; --color: #8f8e90;"
             width="960"
             height="540"
             title="Suzuki Carry Super"
             src="https://a.d-cd.net/RnYNn2JFgRjUW5D7IAZEiwb0Th0-960.jpg">
        <img src="https://a.d-cd.net/RnYNn2JFgRjUW5D7IAZEiwb0Th0-960.jpg"
             width="960"
             height="540"
             loading="lazy"
             itemprop="contentUrl"
             alt="Suzuki Carry Super">
      </x-img>
    </a>
    <meta itemprop="name" content="Suzuki Carry Super">
  </div>

  <div class="c-gallery-grid c-gallery-grid--margin-top">
    <div itemscope itemtype="https://schema.org/ImageObject">
      <a href="https://a.d-cd.net/WfMayIs97rwAtOxC5ouDz9gvWBI-1920.jpg"
         class="c-lightbox-anchor"
         data-action="lightbox.zoom"
         data-size="1920,1080"
         style="--ar:480/270; --height:270px;"
         rel="noopener"
         target="_blank">
        <x-img class="is-rounded"
               style="--ar: 480/270; --color: #8e8d84;"
               width="480"
               height="270"
               src="https://a.d-cd.net/WfMayIs97rwAtOxC5ouDz9gvWBI-480.jpg">
          <img src="https://a.d-cd.net/WfMayIs97rwAtOxC5ouDz9gvWBI-480.jpg"
               width="480"
               height="270"
               loading="lazy"
               itemprop="contentUrl">
        </x-img>
      </a>
      <meta itemprop="name" content="Suzuki Carry Super">
    </div>

    <div itemscope itemtype="https://schema.org/ImageObject">
      <a href="https://a.d-cd.net/kXpdcfV_wIMkSmD0U86iFpe3jcs-1920.jpg"
         class="c-lightbox-anchor"
         data-action="lightbox.zoom"
         data-size="1920,1080"
         style="--ar:480/270; --height:270px;"
         rel="noopener"
         target="_blank">
        <x-img class="is-rounded"
               style="--ar: 480/270; --color: #9e9c97;"
               width="480"
               height="270"
               src="https://a.d-cd.net/kXpdcfV_wIMkSmD0U86iFpe3jcs-480.jpg">
          <img src="https://a.d-cd.net/kXpdcfV_wIMkSmD0U86iFpe3jcs-480.jpg"
               width="480"
               height="270"
               loading="lazy"
               itemprop="contentUrl">
        </x-img>
      </a>
      <meta itemprop="name" content="Suzuki Carry Super">
    </div>
  </div>

</div>

<section>
  <h2>Відгук власника</h2>
  Мій перший автомобіль у свої 29 років.

  На пошуки Suzuki Carry пішов цілий рік. І, як це зазвичай буває, коли вже втомився від постійного моніторингу сайтів із продажу, випадково знаходиш оголошення саме того Suzuki Carry.
  
  Метушні було багато — майже місяць переоформлення та поїздок громадським транспортом з акумулятором у рюкзаку.
  
  Останні півтора року машина простояла просто неба, але майже одразу завелася.
  
  Питань вистачає по кожному вузлу, особливо щодо кузовних робіт. Гнилі пороги, арки. Під час сильного дощу вода ллється в салон через щілину біля правої фари.
  
  Я є четвертим власником кей-кара. За свої 70 тисяч пробігу Carry встиг побувати в Києві, Криму, Донецьку та знову повернутися до Києва.
  
  Роботи багато — будемо старатися.
  
  <b>Паспортні дані<b>
  - Двигун 0,9 бензиновий, 52 к. с.
  - Механічна коробка передач
  - Задній привід
  - Автомобіль 1996 року випуску, був придбаний у 2020 році
  - Suzuki Carry (9G) випускається з 1991 року
  <p class="article-date">Опис написано 5 років тому</p>
</section>

{% assign translations = site.data.translations %}

{{ content }}

{% comment %}
Берём только посты с alt: true
и фильтруем по языку через post.language
{% endcomment %}
{% assign alt_posts = site.posts | where_exp: "p", "p.alt == true" %}

{% assign lang = page.language %} 
{% assign alt_posts = alt_posts | where: "language", lang %}

{% for post in alt_posts %}
  <article class="post">
    <header class="post-header">
      <p class="post-tittle">
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </p>
    </header>
  </article>
{% endfor %}
